@charset "UTF-8";
/* Cores */
.lbl-size {
  font-size: 15px; }

.msg {
  color: #ca5141;
  font-weight: 600; }

#msg-cpf, #msg-conta, #msg-agencia, #msg-nome, #msg-email, #msg-confirmPassword, #msg-password, #msg-token, #msg-tokenTransacao, #msg-valor {
  display: none; }

/* geral */
body {
  margin: 0;
  background-color: #fff;
  min-height: 100%;
  font-family: 'Open Sans'; }

.alfaSlab {
  font-family: "Open Sans", cursive; }

a:hover {
  color: #19ff75; }

.sk-nav {
  background-color: #373a3c;
  color: #fff; }

.sk-item-navbar {
  color: #fff; }

.sk-title {
  color: #888;
  padding-bottom: 10px; }

/* Bot├Áes */
.sk-btn-a {
  color: #373a3c;
  background-color: #19ff75;
  padding-top: 2%;
  padding-bottom: 2%; }

.sk-btn-c {
  color: #373a3c;
  background-color: #19ff75;
  padding-top: 4%;
  padding-bottom: 4%; }

.sk-boxShadow-dark-gray {
  color: #fff;
  background-color: #373a3c;
  padding-top: 4%;
  padding-bottom: 4%; }

.sk-boxShadow {
  box-shadow: 0px 3px 10px 0.1px #ccc; }

.sk-btn-b {
  color: #19ff75;
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: #19ff75; }

.sk-btn-b:hover {
  color: #fff;
  background-color: #19ff75; }

.sk-btn-b-back {
  color: #FF0000;
  background: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: #FF0000; }

.sk-btn-b-back:hover {
  color: #fff;
  background-color: #FF0000; }

/* input */
.sk-tbox {
  color: #373a3c; }

.sk-tbox:focus {
  border-color: #19ff75; }

/*# sourceMappingURL=style.css.map */
