/* Cores */

$green: #19ff75
$white: #fff
$dark-gray: #373a3c
$light-gray: #888
$invisible: rgba(255,255,255,0)
$red : #FF0000


.lbl-size
	font-size: 15px

.msg
	color: #ca5141
	font-weight: 600


#msg-cpf, #msg-conta, #msg-agencia, #msg-nome, #msg-email, #msg-confirmPassword, #msg-password, #msg-token, #msg-valor
	display: none


/* geral */

body
	margin: 0
	background-color:	$white
	min-height: 100%
	font-family: Archia

.alfaSlab
	font-family: 'Alfa Slab One', cursive


a:hover
	color: #19ff75

.sk-nav
	background-color: $dark-gray
	color: $white


.sk-item-navbar
	color: $white

.sk-title
	color: $light-gray
	padding-bottom: 10px


/* Botões */

// // button, input,
.sk-btn-a

		color: $dark-gray
		background-color: $green
		padding-top: 2%
		padding-bottom: 2%

.sk-btn-c

	color: $dark-gray
	background-color: $green
	padding-top: 4%
	padding-bottom: 4%

.sk-boxShadow-dark-gray
	color: $white
	background-color: $dark-gray
	padding-top: 4%
	padding-bottom: 4%



.sk-boxShadow
	box-shadow: 0px 3px 10px 0.1px #ccc



.sk-btn-b
	color: $green
	background: $invisible
	border-style: solid
	border-color: $green
	//
	// .sk-btn-b:hover
	//
	// 	color: $dark-gray
	// 	background-color: $green

.sk-btn-b:hover
	color: $white
	background-color: $green

.sk-btn-b-back
	color: $red
	background: $invisible
	border-style: solid
	border-color: $red
		//
		// .sk-btn-b:hover
		//
		// 	color: $dark-gray
		// 	background-color: $green

.sk-btn-b-back:hover
	color: $white
	background-color: $red



/* input */
.sk-tbox
	color: $dark-gray
	// border-color: $light-gray

.sk-tbox:focus
	border-color: $green
